*.pyc
__pycache__/
*.sqlite
*.sqlite3
.env
.env.backup
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.swp
*.swo
.DS_Store
Thumbs.db
server.log
__pycache__/